@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.grid-bg {
  background-size: 5vh 5vh;
  background-image:
    linear-gradient(to right, #c3c3c320 1px, transparent 0px),
    linear-gradient(to bottom, #c3c3c320 1px, transparent 0px);
}

span {
  font-size: 1rem;
  letter-spacing: 3px;
  color: #FFFFFFA3;
  font-weight: 500;
}

p {
  font-size: 1.3rem;
  color: white;
  /* background: linear-gradient(to bottom, #ffffff,  #FFFFFF52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-weight: 400;
}

h1 {
  font-size: 4rem;
  color: white;
  /* background: linear-gradient(to bottom, #ffffff, #FFFFFF52);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-weight: 400;
  letter-spacing: -3px;
}